body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    background-color: #282828;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00bfff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #333;
}

h2 {
    color: #00bfff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282828;
}
